/**
 * NetConsole
 */

@import "../components/bootstrap/less/variables";

@gray-darkest: #080808;

.netconsole {
  height: 100%;
  padding-bottom: 55px;

  pre {
    background: @gray-darkest;
    color: @component-active-color;

    overflow-y: scroll;
    height: 100%;

  }

  pre.console-highlight {
    .console-section {
      color: #8080FF;
    }
    .console-debug {
      color: #408080;
    }
    .console-info {
      color: #40FF40;
    }
    .console-warn {
      color: #FFC000;
    }
    .console-error {
      color: #FF0000;
    }
  }
}

.netconsole input {
  font-family: @font-family-monospace;
}
