<h1 class="page-header">NetConsole <small>Robot Ip Address: {{robotIp}}</small>
<button type="button" class="btn btn-default" ng-model="highlight" btn-checkbox
  btn-checkbox-true btn-checkbox-true="1" btn-checkbox-false="0">
    Highlighting
</button>
<button type="button" class="btn btn-default" ng-click="clear()">
  Clear Screen
</button>
</h1>
<div class="netconsole">
    <pre ng-bind-html="buffer | trust" ng-class="{'console-highlight': highlight}"></pre>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <form class="form navbar-form button-bar row">
        <div class="input-group col-xs-12">
            <input type="text" class="form-control" ng-model="message" placeholder="Message">
            <span class="input-group-btn min-width">
                <button class="btn btn-primary" ng-click="send()">Send</button>
            </span>
        </div>
    </form>
</div>
